---
import { formatDate, groupByYear } from "@utils";
import Entries from "@components/app/Entries.astro";
import Entry from "@components/app/Entry.astro";
import Tags from "@components/ui/tags/Tags.astro";
import type { CollectionEntry } from "astro:content";

type Post = CollectionEntry<"readBlog"> | CollectionEntry<"readNotes">;

interface Props {
  posts: Post[];
  path: "blog" | "notes";
}

const { posts, path } = Astro.props;

// Filter Drafts in Production
const undrafted = (post: Post) => (import.meta.env.PROD ? post.data.draft !== true : true);

const grouped = groupByYear(
  posts.filter(undrafted),
  (post) => post.data.updated,
  (post) => post.data.tz,
);

const years = Object.keys(grouped)
  .map(Number)
  .sort((a, b) => b - a);
---

{
  years.map((year) => (
    <section class="year">
      <h1>{year}</h1>
      <Entries bordered>
        {grouped[year].map((post) => (
          <Entry variant="post" href={`/read/${path}/${post.id}`}>
            <div class="lhs">
              <p>{post.data.title}</p>
              <Tags tags={post.data.tags} />
            </div>
            <span>{formatDate(post.data.updated, post.data.tz)}</span>
          </Entry>
        ))}
      </Entries>
    </section>
  ))
}

<style>
  .year {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    margin-top: 1rem;
  }

  .lhs {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
  }
</style>
